
.container_user_header{
    
    display: grid;
    grid-template-columns: 150px 60px;
    /* background-color: red; */
    width: max-content;
}

.container_userHeader_btnSalirHeader{

    display: grid;
    grid-template-rows: repeat(2, 30px);
    width: max-content;
    /* border: 1px solid black; */
}
.img_logo_user_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
}

.user_header{
font-size: 14px;
width: 150px;
/* background-color: blue; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}

.btn_salir_header{
display: flex;
background-color: rgb(15, 39, 117);
margin: 0 auto;
border-radius: 1em;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 130px;
height: 25px;
font-size: 12px;
}

.btn_salir_header:hover{
    background-color: rgb(7, 25, 88);
    color: rgb(243, 241, 241);
}
