@tailwind base;
@tailwind components;
@tailwind utilities;

.aplication{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: relative; 
  overflow-x: hidden;
}


:root {
  --cant_li_header: 4;
  --medida_li:120px;
}


.hijo1 {
  position: absolute;
  top: 0; /* Se coloca en la parte superior */
  left: 0;
  right: 0;
}

.hijo2 {
  position: absolute;
  bottom: 0; /* Se coloca en la parte inferior */
  left: 0;
  right: 0;
}




























/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
